doctype html
html(lang="en")
    head
        title= `${title} | ${siteName}`
        link(rel="stylesheet", href="/static/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        block content
        
        block scripts
            script(src="/static/scripts.js")